body {
    text-align: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/* game section */
.game__header {
    width: 300px;
    height: 400px;
    margin: auto;
}

.game__button {
    margin-top: 50px;
    border: 3px solid black;
    border-radius: 10px;
    width: 70px;
    height: 60px;
    background-color: #F27044;
}
.game__button-play {
    font-size: 32px;
    transition: transform 300ms ease-in;
}
.game__button-play:hover {
    transform: scale(1.1);
}

.game__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.game__timer {
    width: 200px;
    height: 40px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 36px;
    font-weight: bold;
    padding-top: 5px;
    background-color: aliceblue;
    visibility: hidden;
    user-select: none;
    cursor: auto;
}
.game__score {
    padding-top: 7px;
    padding-left: 1px;
    background-color: aliceblue;
    color: #F27044;
    border: 3px solid black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
    user-select: none;
    cursor: auto;
}

.game__field {
    position: relative;
    width: 100vw;
    height: 480px;
}

/* pop-up section */
.pop-up {
    display: block;
    text-align: center;
    margin: auto;
    color: white;
    background-color: #00000090;
    width: 450px;
    height: 150px;
    border-radius: 20px;
    padding: 20px;
    transform: translateY(-270%);
}

.pop-up--hide {
    display: none;
}

.pop-up__refresh {
    margin: auto;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #F27044;
}

.pop-up__refresh-replay {
    font-size: 32px;
    transition: transform 300ms ease-in;
}
.pop-up__refresh-replay:hover {
    transform: scale(1.1);
}

.pop-up__message {
    margin-top: 30px;
    margin: auto;
    display: block;
    font-size: 38px;
}

.hide {
    display: none;
}
  

.carrot,
.bug {
    transition: transform 100ms ease-in;
}
.carrot:hover,
.bug:hover {
    transform: scale(1.1);
}